nav {
    position: fixed;
    z-index:999;
    line-height: 43px;
    width:100%; 
    top: 2px;
    right: 0;
    left:0;
    background-color: #5b5b5b;    
    opacity: 0.8;
    padding: 0 5px;
    overflow: hidden;
}
nav a {
    color: #ddd;
    display: inline-block;
    width: 120px;
    text-align: center;
    top:0;
    bottom: 0;
}
nav a:hover {
    background-color: #2e2e2e;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 45px;
    background-color: #7d7d7d;
    text-align: right;
    line-height: 45px;
    padding: 0 10px;
}

#content {
    margin: 0 auto; 
    overflow: auto;
    position: absolute;
    top:45px;
    right: 6px;
    bottom: 45px;
    left:5px;
    border: solid black 1px; 
}

#content>div {
    padding: 8px;
}

#initRoles_content {
    display: inline-block;
    margin: 5px;
    border: 1px solid #7d7d7d;
    border-radius: 8px;
}
.initRoles_itemGroup {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
    padding: 8px;
}
.initRoles_itemGroup>input {
    margin-right: 8px;
    width: 300px;
}
.initRoles_itemGroup>label {
    display: inline-block;
    width: 120px;
}
.initRoles_buttonGroup {
    margin: 5px;
    padding: 8px;
    display: inline-block;
    width: 450px;
    text-align: right;
}